
.floor-plans-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  
  
}

.floor-info {
    float: left;
    height: 900px;

}
.floor-plans-section {
    margin: 4rem auto;
    width: 60%;
  background-color:gainsboro ;
  
}

.floor-info-list {
  margin-bottom: 2rem;
}

.floor-info-list .floor-info {
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  cursor: pointer;
  transition: all .3s;
}

.floor-info-list .floor-info:hover {
    z-index: 1;
    background-color: #e9ecef;
    color: #0056b3;
    border-color: #dee2e6;
}

.floor-info-list .floor-info.active {
    background-color: #007bff;
    color: #fff;
}

.floor-info-title-left {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    background-color: rgb(223, 156, 209);
}

.floor-plan-wrapper {
  text-align: center;
}

.floor-plan-img {
  width: 80%;
  height: auto;
  float: left;
}

.floor-info-list .section-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.floor-info-body {
    padding-left: 30%;
}
.list-floor-item{
    color: #3fa0c9;
}

#company-box {
    height: 200px;
}

#search-box {
    margin: 3rem auto;
}

.floor-company-name {
    color:blueviolet;
    margin: auto 1.5rem;
    font-size: 1.5em;
}